%br
  =link_to "Tits", 'categories/tits'
%br
  =link_to "Cats", 'categories/cats'
%br
  =link_to "Christmas", 'categories/christmas'
%br
  =link_to "Alcohol", 'categories/alcohol'
%br
  =link_to "Ruby", 'categories/ruby'
%br

